.assignment-list-item {
    padding: 16px;
    border-bottom: 1px solid hsl(var(--border));
    transition: background-color 0.3s;
}

.assignment-list-item:hover {
    background-color: hsl(var(--muted));
}

.assignment-avatar {
    background-color: hsl(var(--primary));
}

.assignment-title {
  margin-bottom: 0 !important;
}